.main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: stretch;
  align-items: stretch;
}

.mainTread {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* height: fit-content; */
  background-color: white;
  border-radius: 25px;
  flex-wrap: wrap;
}

.mainContent {
  width: 100%;
  padding: 10px 20px;
  height:fit-content;
}

.mainContent h2 {
  padding: 0 20px ;
  margin-bottom: 0;
}

.belowTitle {
  border-top: 1px lightgray solid;
  width: 95%;
}
