.category {
  padding : 0px;
  margin: 0;
  width: auto;
  border-width: 1px;
  border-color: grey;
  height: 100%;
}

.categoryName {
  margin: 0 10px 0 0;
  padding: 5px 15px 5px 0;
  display: inline-block;
}

#belowTitle {
  /* display: block; */
  border-top: 1px grey solid;
}

.categoryItemList {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  height: fit-content;
}

.selected {
  width: auto;
  border-width: 1px;
  margin: 0 10px 0 0;
  padding: 5px 15px 5px 0;
  display: inline-block;
  font-style: italic;
  color: #45a7ff;
  text-decoration: underline;
  border-style: none solid solid none;
  border-color: lightgrey;
  border-radius: 0px 10px 10px 0;
}