.mainContent {
  background-color: white;
  border-radius: 20px;
  margin: 20px 0 0 40px;
  padding: 20px 17.5px;
}
.mainTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 0;
}

.mainTitle h2 {
  padding: 0;
  margin: 0;
}

.mainContentBody {
  margin: 0 20px;
}
