.main {
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
}

.main h2 {
  padding: 0px 20px;
}

.questionInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  height: 20px;
  padding: 10px none;
}

.questionInfo .meta {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.questionInfo img {
  height: 1em;
}

.questionInfo i {
  font-size: 0.65em;
  padding: 0.35em 5px 0 5px;
  color: grey;
}

.questionInfo p {
  font-size: 0.8em;
  padding: 5px;
  color: grey;
}

.questionItem {
  border-style: solid none none;
  border-width: 1px;
  border-color: lightgrey;
  margin: 20px;
  margin-bottom: 0;
  padding: 10px;
  padding-bottom: 0;
}

.questionItem i {
  border-radius: 50px;
}

.questionItem i:hover {
  color: #45a7ff;
  text-decoration: underline;
  outline-style: solid;
  outline-color: lightgrey;
  outline-width: 0.1px;
  margin: none 10px;
  padding: 5px 15px;
}

.questionContent {
  color: #606060;
  /* padding: 5px; */
}
