.questionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px;
}

.categoryList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: baseline;
  margin: 0;
}

.categoryItem {
  margin: 10px 10px;
}

