.main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.mainTread {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-left: 10px; */
}

.mainTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 0;
}

.mainContent {
  background-color: white;
  border-radius: 20px;
  /* margin: 0 0 0 10px; */
  /* width: 50vw; */
  padding: 20px;
}

.mainTitle h2 {
  padding: 0;
  margin: 0;
}

.pagination {
  /* padding: 5vh 0; */
  margin: 2vh;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-around; */
}

.sideMenu {
  margin : 0 10px;
  padding: 10px 20px 10px;
  border-radius: 25px;
  background-color: white;
  display: inline-block;
  height: fit-content;
  position: sticky;
  top: 10vh;
}