.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: nowrap;
}

.mainTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 0;
}

.mainContent {
  background-color: white;
  border-radius: 20px;
  margin: 0;
  width: 50vw;
  padding: 20px;
}

.mainTitle h2 {
  padding: 0;
  margin: 0;
}

.pagination {
  /* padding: 5vh 0; */
  margin: 2vh;
  background-color: white;
  padding: 5px;
  border-radius: 5px;

}